@page "/allmeals"
@using WhatsForLunch.Core;
@using BlazorTable;
@inject HttpClient Http
@inject IDatabaseProvider Db

<PageTitle>Alle Gerichte</PageTitle>

<h1>Alle Gerichte</h1>

@if (meals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table TableItem="Meal" Items="meals">
        <Column TableItem="Meal" Title="Gericht" Field="@(x => x.Name)" Sortable="true" Filterable="true" DefaultSortColumn="true" />
        <Column TableItem="Meal" Title="Zutaten" Field="@(x => x.Ingredients)" Filterable="true">
            <Template>@string.Join(", ", context.Ingredients.Select(i => i.Name))</Template>
         </Column>
        <Column TableItem="Meal" Title="Tags" Field="@(x => x.Tags)" Filterable="true">
            <Template>@string.Join(", ", context.Tags.Select(t => t.Name))</Template>
        </Column>
        <Column TableItem="Meal" Title="Hinzugefügt am" Field="@(x => x.Added)" Filterable="true">
            <Template>@context.Added.ToShortDateString()</Template>
        </Column>
    </Table>
}

@code {
    private Meal[]? meals;

    protected override async Task OnInitializedAsync()
    {
        // meals = await Http.GetFromJsonAsync<Meal[]>("sample-data/meals.json") ?? Array.Empty<Meal>();
        meals = Db.GetMeals().ToBlockingEnumerable().ToArray();
    }
}
